 .u-section-1 {
  min-height: 725px;
  background-image: none;
}

.u-section-1 .u-shape-1 {
  height: 263px;
  background-image: none;
  margin: 48px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 855px;
  height: 630px;
  object-position: 95.67% 50%;
  background-position: 95.67% 50%;
  margin: -402px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-group-1 {
  width: 528px;
  min-height: 522px;
  background-image: none;
  margin: -567px calc(((100% - 1140px) / 2)) -46px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 17px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 64px 12px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 43px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: 187px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 751px;
    object-position: 23.38% 50%;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 458px;
    min-height: 486px;
    margin-top: -558px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1009px;
  }

  .u-section-1 .u-image-1 {
    width: 673px;
    height: 585px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    min-height: 438px;
    margin-top: -109px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 22px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 17px;
    padding-right: 17px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 854px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 202px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 506px;
    height: 464px;
    margin-top: -415px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    min-height: 383px;
    margin-top: -93px;
    margin-right: 50px;
    margin-bottom: -30px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 733px;
  }

  .u-section-1 .u-image-1 {
    width: 305px;
    height: 284px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 304px;
    margin-top: -33px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 50px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 28px 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 534px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 534px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  width: 243px;
  height: 243px;
  object-position: 38.65% 50%;
  margin: 52px auto 0 109px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 534px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-shape-1 {
  width: 102px;
  height: 102px;
  margin: 0 94px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 160px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 440px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 440px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 57px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 439px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 627px;
}

.u-section-3 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: 36px auto 0 97px;
}

.u-section-3 .u-shape-2 {
  width: 684px;
  height: 334px;
  background-image: linear-gradient(to right, #678a5d, #4b5f46);
  margin: 30px 0 0 auto;
}

.u-section-3 .u-group-1 {
  width: 492px;
  min-height: 549px;
  margin: -567px 58px 16px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 40px 30px 35px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  background-image: none;
  font-weight: 700;
  margin: 80px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-3 .u-shape-1 {
    width: 210px;
    height: 210px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 429px;
    height: 284px;
    margin-top: 342px;
  }

  .u-section-3 .u-group-1 {
    width: 445px;
    margin-top: -608px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1245px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 61px;
  }

  .u-section-3 .u-shape-2 {
    width: 452px;
    height: 261px;
    margin-top: 653px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -603px;
    margin-right: 61px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1184px;
  }

  .u-section-3 .u-shape-1 {
    width: 188px;
    height: 188px;
    margin-top: 37px;
  }

  .u-section-3 .u-shape-2 {
    height: 177px;
    width: 381px;
    margin-top: 679px;
    margin-right: 44px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -545px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-3 .u-shape-1 {
    width: 150px;
    height: 150px;
    margin-top: -14px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 730px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    width: 298px;
    margin-top: -619px;
    margin-bottom: 31px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 464px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 13px auto 0 -38px;
}

.u-section-4 .u-table-1 {
  width: 1140px;
  margin: 32px auto 60px -13px;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-table-1 {
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-table-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 618px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 64px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 439px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 9px 0;
}

.u-section-5 .u-image-1 {
  width: 255px;
  height: 170px;
  margin: 0 auto 0 18px;
}

.u-section-5 .u-text-1 {
  margin: -96px 218px 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 87px 12px 0 25px;
}

.u-section-5 .u-text-3 {
  text-align: left;
  margin: 25px 12px 0 25px;
}

.u-section-5 .u-text-4 {
  margin: 31px 18px 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 439px;
}

.u-section-5 .u-container-layout-2 {
  padding: 27px 0;
}

.u-section-5 .u-text-5 {
  margin: 0 auto 0 12px;
}

.u-section-5 .u-text-6 {
  text-align: left;
  margin: 35px 19px 0;
}

.u-section-5 .u-text-7 {
  text-align: left;
  margin: 25px 19px 0;
}

.u-section-5 .u-image-2 {
  width: 255px;
  height: 170px;
  margin: 6px 28px 0 auto;
}

.u-section-5 .u-text-8 {
  text-align: left;
  margin: -53px auto 0 155px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-5 .u-text-1 {
    font-weight: normal;
    margin-right: 179px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 102px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 137px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 118px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 86px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 74px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 599px;
}

.u-section-6 .u-text-1 {
  width: 734px;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 126px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 302px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 48px;
  width: 48px;
  color: rgb(103, 138, 93) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 55px 0;
}

.u-section-6 .u-text-3 {
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 302px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 302px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  height: 48px;
  width: 48px;
  color: rgb(103, 138, 93) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 64px 0;
}

.u-section-6 .u-text-5 {
  margin: 20px 3px 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 302px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 302px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-icon-5 {
  height: 48px;
  width: 48px;
  color: rgb(103, 138, 93) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 55px 0;
}

.u-section-6 .u-text-7 {
  margin: 20px 3px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 249px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 33px;
    margin-left: 33px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 249px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 41px;
    margin-left: 41px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 249px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 249px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 33px;
    margin-left: 33px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 15px;
    margin-left: 15px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 153px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 27px;
    margin-left: 27px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 153px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 15px;
    margin-left: 15px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1191px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -629px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 861px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 861px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 152px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 71px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 72px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 3px;
    margin-right: 3px;
  }
}