.u-section-1 .u-sheet-1 {
  min-height: 741px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 711px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-shape-1 {
  width: 202px;
  height: 202px;
  margin: 12px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 536px;
  height: 536px;
  background-image: url("../../images/Farmers-e1611911739920.jpg");
  background-position: 50% 50%;
  margin: -130px auto 0 20px;
}

.u-section-1 .u-shape-2 {
  width: 108px;
  height: 108px;
  margin: -401px 0 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 250px;
  height: 78px;
  margin: 182px 30px 53px auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 711px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 192px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5625rem;
  line-height: 2;
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-1 .u-image-1 {
    width: 504px;
    height: 504px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -369px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 586px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 584px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 14px;
  }

  .u-section-1 .u-shape-1 {
    width: 176px;
    height: 176px;
    margin-top: 21px;
  }

  .u-section-1 .u-image-1 {
    width: 347px;
    height: 347px;
    margin-top: -106px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -251px;
  }

  .u-section-1 .u-shape-3 {
    width: 156px;
    height: 53px;
    margin-top: 169px;
    margin-right: 26px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 584px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 653px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 490px;
    height: 490px;
    margin-top: -107px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -413px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 240px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 447px;
  }

  .u-section-1 .u-shape-1 {
    width: 166px;
    height: 166px;
    margin-top: 0;
    margin-right: 154px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-top: -94px;
  }

  .u-section-1 .u-shape-2 {
    width: 83px;
    height: 83px;
    margin-top: -320px;
    margin-right: 11px;
  }

  .u-section-1 .u-shape-3 {
    width: 154px;
    height: 48px;
    margin-top: 169px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 218px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
  }
} .u-section-2 {
  background-image: none;
  min-height: 612px;
}

.u-section-2 .u-shape-1 {
  height: 231px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: -127px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 418px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px 24px;
}

.u-section-2 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 20px 3px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px 24px;
}

.u-section-2 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 3px 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px 24px;
}

.u-section-2 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 3px 0;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px 24px;
}

.u-section-2 .u-icon-4 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 20px 3px 0;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 649px;
  }

  .u-section-2 .u-shape-1 {
    height: 266px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 344px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 774px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 795px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1889px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: -266px;
    margin-bottom: 59px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1830px;
    grid-gap: 10px 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 35px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 35px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 35px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 35px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1003px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 883px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 141px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 40px;
  margin: 60px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 883px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-3 .u-shape-1 {
  width: 186px;
  height: 186px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 556px;
  height: 556px;
  background-image: url("../../images/happy_farmer_istock.jpg");
  background-position: 50% 50%;
  margin: -151px auto 0 36px;
}

.u-section-3 .u-image-2 {
  width: 260px;
  height: 260px;
  background-image: url("../../images/126588542-web.jpg");
  background-position: 50% 50%;
  margin: -164px 0 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 120px;
  height: 120px;
  margin: -231px auto 0 44px;
}

.u-section-3 .u-shape-3 {
  width: 60px;
  height: 60px;
  margin: 133px auto 0 176px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 59px;
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 795px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 795px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 403px;
    height: 403px;
    margin-top: -114px;
    margin-left: 37px;
  }

  .u-section-3 .u-image-2 {
    width: 212px;
    height: 212px;
    margin-top: -146px;
    margin-right: 23px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -186px;
    margin-left: 20px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 60px;
    margin-left: 170px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 754px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 754px;
  }

  .u-section-3 .u-image-1 {
    width: 324px;
    height: 324px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 197px;
    height: 197px;
    margin-top: -74px;
    margin-right: 9px;
  }

  .u-section-3 .u-shape-2 {
    width: 89px;
    height: 89px;
    margin-top: -139px;
    margin-left: 9px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 71px;
    margin-left: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1438px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 807px;
  }

  .u-section-3 .u-image-1 {
    width: 448px;
    height: 448px;
    margin-top: -131px;
    margin-left: 27px;
  }

  .u-section-3 .u-image-2 {
    width: 274px;
    height: 274px;
    margin-top: -112px;
    margin-right: 35px;
  }

  .u-section-3 .u-shape-2 {
    width: 145px;
    height: 145px;
    margin-top: -256px;
    margin-left: 32px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 50px;
    margin-left: 118px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 667px;
  }

  .u-section-3 .u-image-1 {
    width: 302px;
    height: 302px;
    margin-top: -114px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 169px;
    height: 169px;
    margin-top: -76px;
    margin-right: 16px;
  }

  .u-section-3 .u-shape-2 {
    width: 110px;
    height: 110px;
    margin-top: -157px;
    margin-left: 7px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 69px;
    margin-left: auto;
  }
}